<h2>My TODOS</h2>
<!-- show hero in list with delete option -->
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">
        {{ hero.id }}
      </span>
      {{ hero.name.substring(0, 15) }}
    </a>
    <button class="delete"
    title="delete hero"
    (click)="delete(hero)">
      x
    </button>
  </li>
</ul>
<!-- add hero  -->
<div>
  <label
    >Todos name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value = ''">
    add
  </button>
</div>
