<h1>Pipe demo</h1>
<h4>date</h4>
<p>{{ birthday | date}}</p>
<p>{{ birthday | date:"MM/dd/yy" }}</p>
<p>{{  birthday | date:'fullDate' | uppercase}}</p>

<HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>

<h4>date format toggle</h4>
<p>{{ birthday | date:format}}</p>
<button (click)="toggleFormat()">Toggle Format</button>

<HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
<h4>currency</h4>
<p>{{ amount | currency: 'TWD'}}</p>
<p>{{ amount | currency: 'TWD': ' NT'}}</p>

<HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
<h4>slice</h4>
<ul>
  <li *ngFor="let item of collection | slice:1:3">
    {{ item }}
  </li>
</ul>

<HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
<h4>My first Custom Pipe</h4>
<p>{{ 2 | exponentialStrength: 10}}</p>


<HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
<h4>Caculator</h4>
<div>number: <input [(ngModel)]="number" /></div>
<div>power: <input [(ngModel)]="power" /></div>
<p>{{ number | exponentialStrength: power }}</p>


<HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
<h4>self-deinfed pure and impure pipe</h4>
Passed for now
see here:
<a href="https://stackblitz.com/angular/gkmgemggeky?file=src%2Fapp%2Fflying-heroes.component.ts
">stackblitz example</a>

<HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
<h4>async message and AsyncPipe</h4>
<p>message: {{ message$ | async }}</p>
<button (click)="resend()">Resend</button>


<HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
<h4>Heroes from JSON File</h4>
<div *ngFor="let hero of ('assets/heroes.json' | fetch)">
{{ hero.name }}
</div>


<p>
  {{ 'assets/heroes.json' | fetch | json }}
</p>
<HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>

